<%= form_for @page do |f| %>
   <%= f.label :title %>
   <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title"  %>

   <%= f.label :body %>
   <%= f.text_area :body,rows: 7, class: 'form-control', placeholder: "Enter wiki body" %>


     <div class="form-group">
       <%= f.label :private, class: 'checkbox' do %>
         <%= f.check_box :private, {checked: false} %> Private wiki
       <% end %>
     </div>
    

   <%= f.submit "Save", class: 'btn btn-success' %>

 <% end %>
